@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');

/* reset básico */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Noto Sans Linear B", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

/*mexendo na cor da página*/
body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*mexendo na caixa do form*/
.container {
    background-color: rgb(16, 16, 16);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 10 px 25px rgba(0, 0, 0, 0.3);
    width: 500px;
    text-align: center;
}

/*mexendo no título*/
h1 {
    margin: 20px;
    color: rgb(0, 0, 0);
}

#form-cep {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
} 

input [type="text"] {
    flex: 1;
    padding: 12px 15px;
}